/* Atkinson Hyperlegible Mono - Variable Styles */
@font-face {
    font-family: 'Atkinson Hyperlegible Mono';
    src: url('WOFF2/AtkinsonHyperlegibleMono-Regular.woff2') format('woff2'),
    url('TTF/AtkinsonHyperlegibleMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Mono';
    src: url('WOFF2/AtkinsonHyperlegibleMono-RegularItalic.woff2') format('woff2'),
    url('TTF/AtkinsonHyperlegibleMono-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Mono';
    src: url('WOFF2/AtkinsonHyperlegibleMono-Medium.woff2') format('woff2'),
    url('TTF/AtkinsonHyperlegibleMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Mono';
    src: url('WOFF2/AtkinsonHyperlegibleMono-MediumItalic.woff2') format('woff2'),
    url('TTF/AtkinsonHyperlegibleMono-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Mono';
    src: url('WOFF2/AtkinsonHyperlegibleMono-SemiBold.woff2') format('woff2'),
    url('TTF/AtkinsonHyperlegibleMono-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Mono';
    src: url('WOFF2/AtkinsonHyperlegibleMono-SemiBoldItalic.woff2') format('woff2'),
    url('TTF/AtkinsonHyperlegibleMono-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Mono';
    src: url('WOFF2/AtkinsonHyperlegibleMono-Bold.woff2') format('woff2'),
    url('TTF/AtkinsonHyperlegibleMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Mono';
    src: url('WOFF2/AtkinsonHyperlegibleMono-BoldItalic.woff2') format('woff2'),
    url('TTF/AtkinsonHyperlegibleMono-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Mono';
    src: url('WOFF2/AtkinsonHyperlegibleMono-ExtraBold.woff2') format('woff2'),
    url('TTF/AtkinsonHyperlegibleMono-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Mono';
    src: url('WOFF2/AtkinsonHyperlegibleMono-ExtraBoldItalic.woff2') format('woff2'),
    url('TTF/AtkinsonHyperlegibleMono-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Mono';
    src: url('WOFF2/AtkinsonHyperlegibleMono-Light.woff2') format('woff2'),
    url('TTF/AtkinsonHyperlegibleMono-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Mono';
    src: url('WOFF2/AtkinsonHyperlegibleMono-LightItalic.woff2') format('woff2'),
    url('TTF/AtkinsonHyperlegibleMono-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Mono';
    src: url('WOFF2/AtkinsonHyperlegibleMono-ExtraLight.woff2') format('woff2'),
    url('TTF/AtkinsonHyperlegibleMono-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Mono';
    src: url('WOFF2/AtkinsonHyperlegibleMono-ExtraLightItalic.woff2') format('woff2'),
    url('TTF/AtkinsonHyperlegibleMono-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}